<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link href="webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>
</head>
<body>
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Video Converter</a>
    </nav>
</header>
<div class="container-fluid" style="padding-top: 120px;margin: 0px;">
    <div class="row ">
        <div class="col-8 border-right">
            <ul class="list-unstyled" id="moviefiles">

            </ul>
        </div>
        <div class="col border-danger" id="conversionlist">

        </div>
    </div>
</div>






</body>

</html>